-let actual_page = "Inicio";
-let title = "Listo El Postre";

// Css
-let css = ["index.css", "header.css", "navbar.css", "responsive.css","main.css","footer.css", "card.css", "login.css", "register.css"];

//Navbar
-let pages = ["Home", "Catálogo", "Contacto"];

//Datos
-let facebook = "https://www.facebook.com/Niicocardosoo/";
-let instagram = "https://instagram.com/nicoh.cardoh";
-let location = "Paraná, Entre Rios";



