-let page_title = "Inicio";
-let title = "Listo El Postre";

// Css
-let css = ["index.css", "header.css", "navbar.css", "footer.css"];

//Navbar
-let pages = ["Home", "Catálogo", "Contacto"];

//Datos
-let facebook = "https://www.facebook.com/Niicocardosoo/";
-let instagram = "https://instagram.com/nicoh.cardoh";
-let location = "Paraná, Entre Rios";



