-let actual_page = "Inicio";
-let title = "Aquí va un título";

// Css
-let css = ["index.css", "header.css", "responsive.css","main.css","footer.css", "card.css", "login.css", "edit.css","menu_hamburger.css"];



//Navbar
-let pages = ["Home", "Catálogo", "Contacto"];

//Datos
-let facebook = "https://www.facebook.com/Niicocardosoo/";
-let instagram = "https://instagram.com/nicoh.cardoh";
-let location = "Paraná, Entre Ríos";



