extends templates/template
block append config
 - actual_page = prod.title;
block header
block main
  section.container
    div.prodHead
      img(src=`${prod.imageUrl}`, alt="", id="image")
    div.prodBody
      h1.prodTitle=prod.title
      h2.prodPrice="$"+prod.price
      span.prodDescrip.multiline=prod.description