doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/index.css')
    link(rel="stylesheet", href="css/navbar.css")
    title ProyectoL
  body
    // HEADER
    include partials/navbar.pug
    // FIN HEADER
    main
      section.hero-image
        div
          h1 Aqui va un Titulo
      // CATALOGO
      h2#page-1 Catálogo
      section.flex-container.cards
        each prod in prods
          a(href=`/prod/${prod.id}`)
            .flex-item
              .card.flex-column
                div.card-img.flex-column(style = `background-image: url(${prod.imageUrl});`)
                  p.card-precio="$"+prod.price
                .card-body
                  h3.card-prod=prod.title
      // FIN CATALOGO
    include partials/footer.pug
      //script(src='js/javascript.js')
