extends templates/template 
block append config
  - actual_page = "Iniciar sesi칩n";
block header
block main
  .row
    .col-md-4.mx-auto
      .card.text-danger.mt-4.text-center
        .card-header.bg-danger
          h1.text-white.h4 Iniciar sesi칩n
        .card-body
          form(action="/login", method="post", class="body")
            .form-group
              label(for="email") Tu email
              input(type="email", name="email", placeholder= "Ingresa tu email", class="form-control", required)
            .form-group
              label(for="password") Tu contrase침a
              input(type="password", name="password", placeholder= "Ingresa tu contrase침a", class="form-control", required)
            .form-group
            button(type="submit", class="btn btn-block btn-danger mt-5 p-3") Iniciar