extends templates/template 
block append config
  - actual_page = "Iniciar sesión";
block header
block main
  div.flex-container.logBorderRadius
    div.log
      div.logHead
        h1 Iniciar sesion
      form(action="/login", method="post", class="logBody")
        div
          input(type="email", name="email", placeholder= "Ingresa tu email", class="logInput" required)
          input(type="password", name="password", placeholder= "Ingresa tu password",class="logInput", required)
        div
          button(type="submit", class="btnLog") Iniciar
      div.logForgot
        p Forgot 
          a(href="") Password?