main
  section.hero-image
    div
      h1 Aqui va un Titulo
  // CATALOGO
  h2#page-1 Catálogo
  section.flex-container.cards
    each prod in prods
      a(href=`/prod/${prod.id}`)
        .flex-item
          .card.flex-column
            div.card-img.flex-column(style = `background-image: url(${prod.imageUrl});`)
              p.card-precio="$"+prod.price
            .card-body
              h3.card-prod=prod.title