extends templates/template 
block append config
 - actual_page = "Registrate";
block header
block main
  div.flex-container.resgBorderRadius
    div.resg
      div.resgHead
        h1 Register
      form(action="/register", method="post", class="resgBody")
        div
          input(type="text", name="name", placeholder= "Ingresa un usuario", class="resgInput", required)
          input(type="email", name="email", placeholder= "Ingresa tu email", class="resgInput" required)
          input(type="password", name="password", placeholder= "Ingresa tu password",class="resgInput", required)
          input(type="password", name="confirm_password", placeholder= "Confirma tu password", class="resgInput", required)
        div
          button(type="submit", class="btnResg") Registrar



                