.container {
  overflow: hidden;
  padding: 0.5em;
  background-color: #fff;
}

#image {
  width: 100%;
  height: auto;
}

.prodTitle {
  font-size: 30px;
}

.prodPrice {
  color: var(--rosado);
}
.padding-05 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

@media (min-width: 992px) {
  .container {
    display: flex;
    padding: 1em;
  }
  .prodHead {
    width: 50%;
    margin: 1em;
  }
  .prodBody {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1em;
  }

  .prodDescrip {
    align-self: center;
  }
}
