:root {
  --white: hsl(0, 0%, 100%);
  --pink-40: hsl(354, 71%, 40%);
  --pink-50: hsl(354, 71%, 50%);
  --pink-60: hsl(354, 71%, 60%);
  --pink-70: hsl(354, 71%, 70%);
  --pink-80: hsl(354, 71%, 80%);
  --pink-90: hsl(354, 71%, 90%);
}

.container {
  background-color: var(--white);
  padding: 0.5em;
}

#image {
  width: 100%;
  height: auto;
  max-width: 525px;
  border: 1px solid black;
}

.prodTitle {
  font-size: 30px;
}

.prodPrice {
  color: var(--pink-50);
}

.prodDescrip {
  color: #777;
}

.multiline {
  white-space: pre-wrap;
}

@media (min-width: 992px) {
  .container {
    display: flex;
  }
  .prodHead {
    width: 50%;
    margin: 1em;
  }
  .prodBody {
    display: flex;
    flex-direction: column;
    margin: 1em;
  }

  .prodDescrip {
    align-self: center;
  }
}
