:root {
  --white: hsl(0, 0%, 100%);
  --pink-50: hsl(354, 71%, 50%);
  --pink-80: hsl(354, 71%, 70%);
}

.footer {
  background-color: var(--white);
}

.footer-enlaces {
  padding: 0.1em;
  color: var(--pink-50);
}

.redes {
  display: flex;
  font-size: 30px;
}

.flex-container-footer {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  padding-left: 1em;
  padding-bottom: 1em;
}

@media (min-width: 576px) {
  .flex-container-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}

@media (min-width: 992px) {
  .footer-enlaces:hover {
    color: var(--pink-80);
  }
}
