:root {
  --white: hsl(0, 0%, 100%);
  --pink-50: hsl(354, 71%, 50%);
  --pink-80: hsl(354, 71%, 70%);
}

.logContainer {
  height: 100%;
  width: 100%;
}

.log {
  height: 400px;
  width: 350px;
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 0%, 0.3);
  text-align: center;
}

.logHead {
  color: var(--white);
  background-color: var(--pink-50);
}

.logBody {
  width: 90%;
}

.btnLog {
  height: 40px;
  width: 90%;
  background-color: var(--pink-50);
  border: none;
  color: var(--white);
  margin: 0;
  padding: 0;
  font-size: 20px;
}
