:root {
  --white: hsl(0, 0%, 100%);
  --pink-50: hsl(354, 71%, 50%);
  --pink-80: hsl(354, 71%, 70%);
}

.logo {
  width: 50px;
}

.menu {
  background-color: var(--white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu a:first-child {
  display: flex;
}

.menu-item {
  color: var(--pink-50);
  padding-right: 1em;
}

@media (min-width: 992px) {
  .menu {
    justify-content: flex-end;
  }

  .menu a:first-child {
    margin-left: 0.5em;
    margin-right: auto;
  }

  .menu-item:hover {
    color: var(--pink-80);
  }
}
