header.header
      a(href='/')
        img.logo(src="../img/logo.jpg", alt=' Logo')
      nav.menu
        ul.menu-items
          li
            a.menu-item(href='#') Home
          li
            a.menu-item(href='#page-1') Catálogo
          li
            a.menu-item(href='#page-2') Contacto
          if(user)
            li
              a.menu-item(href='/logout') Logout