header.header
      a(href='')
        img.logo(src="", alt=' Logo')
      nav.menu
        ul.menu-items
          li
            a.menu-item(href='#') Home
          li
            a.menu-item(href='#page-1') Catálogo
          li
            a.menu-item(href='#page-2') Contacto