button.panel-btn.hamburger.hamburger--spin(type='button')
  span.hamburger-box
    span.hamburger-inner
aside.panel
  nav.menu-hamb
    each page in pages
      if page === "Home"
        a(href="/") #{page}
      else
        //a(href="/"+page) #{page}
        a(href="#"+page) #{page}
    if user
      a(href='/add') Agregar
      a(href='/logout') Logout
