doctype html
html
  html(lang="es")
  block config
    include ../config/config
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="description", content="")
    link(rel="shortcut icon"  type="image/png" href="img/logo.png")
    block head
      each link in css
        link(rel="stylesheet", href="/css/"+link)
      link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')

      title= actual_page + " | " + title

  body
    block navbar
      include ../blocks/navbar.pug
    block header
      include ../blocks/header.pug
    block messagge
      include ../blocks/messagge
    block main
      include ../blocks/main.pug
    block footer
      include ../blocks/footer.pug

